* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.header {
  background-color: rgba(100, 100, 100, 0.5);
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 3;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__wrapper .logo {
  max-width: 100px;
  width: 100%;
  height: 100%;
}
.header__wrapper .logo img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__wrapper .nav {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.header__wrapper .nav--link {
  font-family: sans-serif;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.main-section {
  background-image: url("./../img/main-img.jpg");
  background-size: cover;
}
.main-section .main-block {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 100px;
}
.main-section .main-block .main__title {
  font-family: sans-serif;
  font-size: 30px;
  color: white;
  max-width: 560px;
}
.main-section .main-block .main__arrow {
  position: absolute;
  bottom: 0;
  align-self: flex-start;
  display: flex;
  align-items: center;
}
.main-section .main-block .main__arrow--img {
  max-width: 100px;
  height: 100%;
  width: 100%;
}
.main-section .main-block .main__arrow--img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-section .main-block .main__arrow--text {
  font-family: sans-serif;
  color: white;
  max-width: 100px;
}

.why-do-you-need-section {
  padding: 20px 0;
  background: linear-gradient(45deg, rgb(221, 147, 83), rgb(241, 229, 108));
  position: relative;
}
.why-do-you-need-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: brightness(90%);
}
.why-do-you-need-section .why-do-you-need-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-do-you-need-section .why-do-you-need-block .why-do-you-need__title {
  text-transform: uppercase;
  color: white;
  z-index: 1;
  font-weight: 800;
  font-family: sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
.why-do-you-need-section .why-do-you-need-block .why-do-you-need__text {
  color: white;
  z-index: 1;
}

.image-section {
  background-image: url("./../img/main-img.jpg");
  min-height: 150px;
  background-size: cover;
  background-position: center;
}

.reasons-section {
  padding: 20px 0;
  background: linear-gradient(45deg, rgb(221, 147, 83), rgb(241, 229, 108));
  position: relative;
}
.reasons-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: brightness(90%);
}
.reasons-section .reasons-blocks {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
.reasons-section .reasons-blocks__block {
  display: flex;
  align-items: center;
  max-width: 200px;
  background: #1F252E;
  color: white;
  padding: 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  font-family: sans-serif;
}

.easy-to-install-section {
  background: linear-gradient(45deg, rgb(221, 147, 83), rgb(241, 229, 108));
  padding: 30px 0;
}
.easy-to-install-section .easy-to-install-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.easy-to-install-section .easy-to-install-block .easy-to-install__img {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  overflow: hidden;
}
.easy-to-install-section .easy-to-install-block .easy-to-install__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.easy-to-install-section .easy-to-install-block__content--title {
  font-family: sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}
.easy-to-install-section .easy-to-install-block__content--buttons .buttons__button {
  padding: 5px;
  background: #242836;
  color: white;
  border-radius: 3px;
  font-weight: 600;
  margin-bottom: 20px;
}
.easy-to-install-section .easy-to-install-block__content--text {
  font-family: sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
}
.easy-to-install-section .easy-to-install-block__content--button {
  padding: 5px;
  background: #242836;
  color: white;
  border-radius: 3px;
  font-weight: 600;
}

.our-projects-section {
  padding: 20px 0;
  background: linear-gradient(135deg, rgb(221, 147, 83), rgb(241, 229, 108));
}
.our-projects-section .our-projects-block__title {
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}
.our-projects-section .our-projects-block__text {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}
.our-projects-section .our-projects-block .examples__title {
  margin-bottom: 50px;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
}
.our-projects-section .our-projects-block .examples__blocks {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.our-projects-section .our-projects-block .examples__blocks--content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-projects-section .our-projects-block .examples__blocks--content .examples__text {
  max-width: 250px;
  font-size: 16px;
  font-family: sans-serif;
  margin-bottom: 5px;
  text-align: center;
}
.our-projects-section .our-projects-block .examples__blocks--content .examples__img {
  display: flex;
  width: 300px;
  max-height: 300px;
  border-radius: 30px;
  overflow: hidden;
}
.our-projects-section .our-projects-block .examples__blocks--content .examples__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-projects-section .our-projects-block .examples__blocks--content:first-of-type .examples__img {
  height: 300px;
}

.commercial-usage-section {
  background-image: url("./../img/medium-shot-engineers-discussing-about-solar-pannels.jpg");
  padding: 90px 0;
  background-size: cover;
  background-position: center;
  position: relative;
}
.commercial-usage-section::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.commercial-usage-section .commercial-usage__block {
  display: flex;
  padding: 30px 0;
  position: relative;
  z-index: 2;
  flex-direction: column;
  row-gap: 20px;
}
.commercial-usage-section .commercial-usage__block--title {
  font-size: 48px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: rgb(241, 229, 108);
  align-self: flex-start;
}
.commercial-usage-section .commercial-usage__block--text {
  font-size: 26px;
  color: rgb(241, 229, 108);
  max-width: 500px;
  font-family: sans-serif;
}

.green-section {
  padding: 20px 0;
}
.green-section .green-block {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  justify-content: space-evenly;
}
.green-section .green-block__img {
  display: flex;
  width: 350px;
}
.green-section .green-block__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.green-section .green-block__content .info {
  max-width: 350px;
  background-color: #56bc6c;
  padding: 50px 10px 90px;
  border-radius: 30px;
  margin-bottom: 30px;
}
.green-section .green-block__content .info p {
  font-family: sans-serif;
  color: white;
}
.green-section .green-block__content .info__text {
  font-size: 18px;
}
.green-section .green-block__content .info__text--small {
  font-size: 14px;
}
.green-section .green-block__content .info-addition {
  max-width: 500px;
  padding: 40px 0;
  border-top: 3px solid #5a864f;
  border-bottom: 3px solid #315aaa;
}
.green-section .green-block__content .info-addition__text {
  font-family: sans-serif;
  text-align: center;
  font-size: 18px;
}

.solving-problem-section {
  padding: 20px 0;
}
.solving-problem-section .solving-problem__title {
  font-family: sans-serif;
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}
.solving-problem-section .solving-problem__block {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: space-evenly;
}
.solving-problem-section .solving-problem__block .list__wrapper {
  max-width: 400px;
  background-color: #315aaa;
  padding: 20px 30px;
  border-radius: 30px;
  margin-bottom: 30px;
}
.solving-problem-section .solving-problem__block .list__wrapper--point {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}
.solving-problem-section .solving-problem__block .img-block__title {
  font-family: sans-serif;
  font-size: 36px;
  color: #4d7d41;
  margin-bottom: 10px;
}
.solving-problem-section .solving-problem__block .img-block__img {
  display: flex;
  width: 450px;
  border-radius: 10px;
  overflow: hidden;
  max-height: 250px;
}
.solving-problem-section .solving-problem__block .img-block__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.solving-variants-section {
  background-image: url(./../img/solving-problem-variants.jpg);
  background-size: cover;
  padding: 90px 0;
}
.solving-variants-section .solving-variants__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.solving-variants-section .solving-variants__block--text {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
  font-family: sans-serif;
  max-width: 300px;
}

.calculate-section {
  background: #6180E9;
  padding: 20px;
}
.calculate-section .calculate-block {
  display: flex;
  align-items: center;
}
.calculate-section .calculate-block__info {
  max-width: 750px;
  margin-right: 30px;
}
.calculate-section .calculate-block__info--title {
  font-size: 24px;
  color: white;
  font-family: sans-serif;
  margin-bottom: 10px;
}
.calculate-section .calculate-block__info--text {
  font-size: 20px;
  color: white;
  font-family: sans-serif;
}
.calculate-section .calculate-block__info--subtext {
  font-family: sans-serif;
  color: white;
  font-size: 12px;
}
.calculate-section .calculate-block__calculator {
  display: flex;
  flex-direction: column;
}
.calculate-section .calculate-block__calculator--input {
  min-width: 600px;
  min-height: 25px;
  margin-bottom: 10px;
}
.calculate-section .calculate-block__calculator--power, .calculate-section .calculate-block__calculator--area, .calculate-section .calculate-block__calculator--year-amount, .calculate-section .calculate-block__calculator--month-cycle, .calculate-section .calculate-block__calculator--year-saving, .calculate-section .calculate-block__calculator--month-saving {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}
.calculate-section .calculate-block__calculator--power p, .calculate-section .calculate-block__calculator--power span, .calculate-section .calculate-block__calculator--area p, .calculate-section .calculate-block__calculator--area span, .calculate-section .calculate-block__calculator--year-amount p, .calculate-section .calculate-block__calculator--year-amount span, .calculate-section .calculate-block__calculator--month-cycle p, .calculate-section .calculate-block__calculator--month-cycle span, .calculate-section .calculate-block__calculator--year-saving p, .calculate-section .calculate-block__calculator--year-saving span, .calculate-section .calculate-block__calculator--month-saving p, .calculate-section .calculate-block__calculator--month-saving span {
  color: white;
  font-family: sans-serif;
}
.calculate-section .calculate-block__calculator--power p, .calculate-section .calculate-block__calculator--area p, .calculate-section .calculate-block__calculator--year-amount p, .calculate-section .calculate-block__calculator--month-cycle p, .calculate-section .calculate-block__calculator--year-saving p, .calculate-section .calculate-block__calculator--month-saving p {
  font-size: 12px;
}
.calculate-section .calculate-block__calculator--power span, .calculate-section .calculate-block__calculator--area span, .calculate-section .calculate-block__calculator--year-amount span, .calculate-section .calculate-block__calculator--month-cycle span, .calculate-section .calculate-block__calculator--year-saving span, .calculate-section .calculate-block__calculator--month-saving span {
  font-size: 24px;
  font-weight: 600;
}
.calculate-section .calculate-block__calculator div:last-of-type {
  margin-bottom: 20px;
}
.calculate-section .calculate-block__calculator--get-consultation {
  align-self: center;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: #6180E9;
  font-family: sans-serif;
  font-weight: 600;
}

.invest-section {
  padding: 30px 0;
}
.invest-section .invest-block {
  display: flex;
  justify-content: space-around;
}
.invest-section .invest-block__title {
  height: 400px;
  width: 400px;
  border: 1px solid #3e65b3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-self: center;
}
.invest-section .invest-block__title--number {
  color: #3e65b3;
  font-size: 148px;
  font-family: sans-serif;
}
.invest-section .invest-block__title--text {
  font-family: sans-serif;
  color: #3e65b3;
  max-width: 170px;
}
.invest-section .invest-block__content {
  display: flex;
  flex-direction: column;
}
.invest-section .invest-block__content--wrapper {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.invest-section .invest-block__content--wrapper .invest-block__content--block {
  margin-bottom: 0;
}
.invest-section .invest-block__content--block {
  max-width: 200px;
  margin-bottom: 50px;
}
.invest-section .invest-block__content--block .content-block__img {
  max-height: 50px;
  height: 100%;
  width: 100%;
  margin-bottom: 15px;
}
.invest-section .invest-block__content--block .content-block__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.invest-section .invest-block__content--block .content-block__title {
  font-family: sans-serif;
  color: #3e65b3;
  font-size: 16px;
  margin-bottom: 10px;
}
.invest-section .invest-block__content--block .content-block__text {
  font-family: sans-serif;
  color: #3e65b3;
}

.form-section {
  padding: 30px 0;
  background: linear-gradient(45deg, #f8f1fa, #e2edfc);
}
.form-section .form-block {
  display: flex;
  justify-content: space-around;
}
.form-section .form-block__title {
  max-width: 380px;
  font-size: 30px;
  font-family: sans-serif;
}
.form-section .form-block .order__form {
  row-gap: 20px;
  display: flex;
  flex-direction: column;
}
.form-section .form-block .order__form--wrapper {
  position: relative;
}
.form-section .form-block .order__form--wrapper input {
  background: transparent;
  min-width: 350px;
  padding: 8px 10px;
  border-radius: 2px;
  border: 1px solid #888d95;
  position: relative;
  z-index: 2;
}
.form-section .form-block .order__form--wrapper .order__input--text {
  position: absolute;
  top: 7px;
  left: 12px;
  color: #abaeb7;
  font-family: sans-serif;
}
.form-section .form-block .order__form--wrapper .order__input--text span {
  color: red;
}
.form-section .form-block .order__form .order__button {
  border: none;
  padding: 10px;
  background: #c93848;
  color: white;
  font-weight: 600;
  border-radius: 2px;
}/*# sourceMappingURL=style.css.map */